.player {
    position: absolute;
    background-image: url("./assets/player.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
  }
  
.flip-player {
  transform: scaleX(-1);
}