@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-select {
  user-select: none;
}

.snake-board-1 {
  background-color: rgb(170, 215, 81);
}

.snake-board-2 {
  background-color: rgb(162, 209, 73);
}

.snake-body {
  background-color: rgb(71, 117, 235);
}

.snake-food {
  background-color: rgb(231, 71, 29);
}

.snake-background {
  background-color: rgb(87, 138, 52);
}

.snake-controls {
  background-color: rgb(72, 117, 44);
}

input {
  color: black;
}


