.mario-still {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-image: url("./assets/mario-still.webp");
  }

.mario-run {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-image: url("./assets/mario-run.gif");
  }

.mario-jump {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-image: url("./assets/mario-jump.webp");
  }
.small-mario-still {
    position: absolute;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-image: url("./assets/small-mario-still.png");
  }

.small-mario-run {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-image: url("./assets/small-mario-run.gif");
  }

.small-mario-jump {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-image: url("./assets/small-mario-jump.png");
  }

.question {
    position: absolute;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-image: url("./assets/question.webp");
  }
.coin {
    position: absolute;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-image: url("./assets/coin.png");
  }
.mushroom {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-image: url("./assets/mushroom.png");
  }
.grass {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-image: url("./assets/grass.webp");
  }
.breakable {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-image: url("./assets/breakable.webp");
  }
.goomba {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-position: 0 -1vmin;
    background-image: url("./assets/goomba.gif");
  }
.piranha {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-image: url("./assets/piranha.gif");
  }
.background {
    position: absolute;
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-image: url("./assets/background.png");
  }